body {
    background-image: url(person3.jpg);
    background-size: cover;
    filter: brightness(2);
    
}

.nav {
    height: 5.3rem;
    width: 100%;
    /* background-image: url(images.jpeg); */
    background-size: cover;
    border-bottom: 4px solid yellowgreen;
    border-radius: 3px;
    overflow: hidden;
}

.nav_logo {
    
}
    
#list_style {
    list-style: none;
}

.link {
    float: left;
    margin-left: 9%;
    margin-top: 9px;
    width: 25px;
    color: whitesmoke;
    border-color: antiquewhite;
    font-size: 20px;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    .nav-menu link a:hover {
        color: bisque;
        font-size: 30px;
    }

}

.nav-menu link a:hover {
    color: bisque;
    font-size: 30px;
}

.nav-button {
    margin-left: 70%;
    cursor: pointer;
    margin-top: 18px;
}

.logBtn1 {
    padding: 7px;
    border: none;
    font-size: 20px;
    font-family: monospace;
    border-radius: 10px;
    text-decoration: none;
}

.logBtn2 {
    padding: 5px;
    border: none;
    font-size: 20px;
    font-family: monospace;
    border-radius: 10px;
    margin-left: 19px;
    margin-top: -55px;
    
}

.nav-menu-Btn {
    margin-left: 95%;
    margin-bottom: -10px;
}

/* /.........................................the end of menu and nav things............................................ */


.form-box {
    background-color: rgba(5, 56, 71, 0.8);
    padding: 40px;
    border: 2px solid #76cfe6;
    border-radius: 5px;
    box-shadow: none;
    margin-left: 2%;
    /* margin-top: -0px; */
    height: 31rem;
    width: 35rem;
    text-align: center;
    margin-left: 25%;
}

.form-box header {
    color: rgb(245, 240, 240);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -28px;

}

.input-box {
    position: relative;
    margin-bottom: 20px;

}

.input-field {
    width: 93%;
    padding: 20px 19px 10px 40px;
    border: 1px solid #022229;
    border-radius: 9px;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: context-menu;
    filter: brightness(0.4);
}

.input-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #180101;
    font-size: 26px;

}



button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #04011d, #045269, #2c013df5);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    margin-left: 42%;
  }
  
  button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }
  
  button:hover span {
    transform: translateX(7px);
  }
  


.submit:hover {
    background-color: #4596ec;
}

.two-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    font-size: 20px;
}

.two-col label {
    font-size: 18px;
}

.two-col a {
    color: #007bff;
    text-decoration: none;
    font-size: 19px;
    transition: color 0.3s;
}

.two-col a:hover {
    color: #0056b3;
}

.two-col span {
    display: block;
    text-align: center;
    margin-top: -1px;
    font-size: 17px;
} 
